In [97]:
import pandas as pd
from sklearn.model_selection import train_test_split
import warnings
import numpy as np
df=pd.read_csv('D:\hackathon\ChartbustersParticipantsData\Data_Train.csv')

In [98]:
df.shape

(78458, 11)

In [99]:
df.isnull().sum()
df.dropna(axis=0, how='any', inplace=True)
df.isnull().sum()

Unique_ID     0
Name          0
Genre         0
Country       0
Song_Name     0
Timestamp     0
Views         0
Comments      0
Likes         0
Popularity    0
Followers     0
dtype: int64

In [100]:
cols_to_del=[]
for col in df.columns:
    if len(np.unique(df[col]))==1 or len(np.unique(df[col]))==df.shape[0]:
        cols_to_del.append(col)

In [101]:
df.drop(columns=cols_to_del,inplace=True)

In [102]:
df
from datetime import datetime as dt
df.shape

(78457, 8)

In [103]:
df['Timestamp']=pd.to_datetime(df.Timestamp)
df['Timestamp'] = df['Timestamp'].dt.normalize()

In [104]:
df['today'] = pd.to_datetime('today')
df['today']=df['today'].dt.normalize()

In [105]:

df['diff_days'] = df['today'] - df['Timestamp']
df['diff_days']=df['diff_days']/np.timedelta64(1,'D')
df

,Name,Genre,Timestamp,Views,Comments,Likes,Popularity,Followers,today,diff_days
0,Hardstyle,danceedm,2018-03-30,14017,4,499,97,119563,2020-03-05,706.0
1,Dj Aladdin,danceedm,2016-06-20,1918,17,49,17,2141,2020-03-05,1354.0
2,Maxximize On Air,danceedm,2015-05-08,9668,11,312,91,22248,2020-03-05,1763.0
3,GR6 EXPLODE,rbsoul,2017-06-08,113036,2,"2,400",76,393655,2020-03-05,1001.0
4,Tritonal,danceedm,2016-09-17,110024,81,"3,031",699,201030,2020-03-05,1265.0
...,...,...,...,...,...,...,...,...,...,...
78453,Resident Advisor,ambient,2016-02-08,12221,19,489,47,143726,2020-03-05,1487.0
78454,Trap Sounds,trap,2016-03-02,8265,4,292,100,211419,2020-03-05,1464.0
78455,Mixmag,electronic,2019-02-11,3621,1,157,31,1403057,2020-03-05,388.0
78456,DHA AM (Deep House London),electronic,2017-01-18,8896,24,371,89,143743,2020-03-05,1142.0
78457,Jon Z ✅,all-music,2015-04-11,102487,4,"1,829",71,89084,2020-03-05,1790.0

In [106]:
df.drop(columns='Timestamp',inplace=True)
df.drop(columns='today',inplace=True)

In [107]:
df

,Name,Genre,Views,Comments,Likes,Popularity,Followers,diff_days
0,Hardstyle,danceedm,14017,4,499,97,119563,706.0
1,Dj Aladdin,danceedm,1918,17,49,17,2141,1354.0
2,Maxximize On Air,danceedm,9668,11,312,91,22248,1763.0
3,GR6 EXPLODE,rbsoul,113036,2,"2,400",76,393655,1001.0
4,Tritonal,danceedm,110024,81,"3,031",699,201030,1265.0
...,...,...,...,...,...,...,...,...
78453,Resident Advisor,ambient,12221,19,489,47,143726,1487.0
78454,Trap Sounds,trap,8265,4,292,100,211419,1464.0
78455,Mixmag,electronic,3621,1,157,31,1403057,388.0
78456,DHA AM (Deep House London),electronic,8896,24,371,89,143743,1142.0
78457,Jon Z ✅,all-music,102487,4,"1,829",71,89084,1790.0

In [108]:
df.isnull().sum()

Name          0
Genre         0
Views         0
Comments      0
Likes         0
Popularity    0
Followers     0
diff_days     0
dtype: int64

In [109]:
df.isnull().sum()

Name          0
Genre         0
Views         0
Comments      0
Likes         0
Popularity    0
Followers     0
diff_days     0
dtype: int64

In [110]:
df

,Name,Genre,Views,Comments,Likes,Popularity,Followers,diff_days
0,Hardstyle,danceedm,14017,4,499,97,119563,706.0
1,Dj Aladdin,danceedm,1918,17,49,17,2141,1354.0
2,Maxximize On Air,danceedm,9668,11,312,91,22248,1763.0
3,GR6 EXPLODE,rbsoul,113036,2,"2,400",76,393655,1001.0
4,Tritonal,danceedm,110024,81,"3,031",699,201030,1265.0
...,...,...,...,...,...,...,...,...
78453,Resident Advisor,ambient,12221,19,489,47,143726,1487.0
78454,Trap Sounds,trap,8265,4,292,100,211419,1464.0
78455,Mixmag,electronic,3621,1,157,31,1403057,388.0
78456,DHA AM (Deep House London),electronic,8896,24,371,89,143743,1142.0
78457,Jon Z ✅,all-music,102487,4,"1,829",71,89084,1790.0

In [111]:
df.dtypes

Name           object
Genre          object
Views           int64
Comments        int64
Likes          object
Popularity     object
Followers       int64
diff_days     float64
dtype: object

In [112]:
#df[0] = df[0].str.replace(r'[$,]', '').astype('float')
df['Likes']=df['Likes'].str.replace(r'[,]','')
df['Likes']=df['Likes'].str.replace(r'[.K]','')
df['Likes']=df['Likes'].str.replace(r'[M]','')


df['Likes']=df['Likes'].astype('float64')

In [113]:
df['Popularity']=df['Popularity'].str.replace(r'[,]','')
df['Popularity']=df['Popularity'].str.replace(r'[.K]','')
#df['Popularity']=df['Popularity'].str.replace(r'[M]','')

df['Popularity']=df['Popularity'].astype('float64')

In [114]:
df

,Name,Genre,Views,Comments,Likes,Popularity,Followers,diff_days
0,Hardstyle,danceedm,14017,4,499.0,97.0,119563,706.0
1,Dj Aladdin,danceedm,1918,17,49.0,17.0,2141,1354.0
2,Maxximize On Air,danceedm,9668,11,312.0,91.0,22248,1763.0
3,GR6 EXPLODE,rbsoul,113036,2,2400.0,76.0,393655,1001.0
4,Tritonal,danceedm,110024,81,3031.0,699.0,201030,1265.0
...,...,...,...,...,...,...,...,...
78453,Resident Advisor,ambient,12221,19,489.0,47.0,143726,1487.0
78454,Trap Sounds,trap,8265,4,292.0,100.0,211419,1464.0
78455,Mixmag,electronic,3621,1,157.0,31.0,1403057,388.0
78456,DHA AM (Deep House London),electronic,8896,24,371.0,89.0,143743,1142.0
78457,Jon Z ✅,all-music,102487,4,1829.0,71.0,89084,1790.0

In [115]:
df['Likes']=df['Likes'].astype('int64')
df['Popularity']=df['Popularity'].astype('int64')
df['diff_days']=df['diff_days'].astype('int64')

In [116]:
df.dtypes

Name          object
Genre         object
Views          int64
Comments       int64
Likes          int64
Popularity     int64
Followers      int64
diff_days      int64
dtype: object

In [117]:
y=df['Views']
df.drop(columns='Views',inplace=True)

In [118]:
from sklearn.preprocessing import MinMaxScaler 
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.33, random_state=42)
X_train

,Name,Genre,Comments,Likes,Popularity,Followers,diff_days
43990,DJ MAGO FLOW - La Familia DJs Radio,latin,6,39,10,6084,526
73187,GR6 EXPLODE,rbsoul,2,1619,47,393655,763
55361,Mefjus,electronic,93,3192,512,70837,926
18097,Masters of Hardcore,danceedm,7,579,110,81613,1108
61163,PARTY FAVOR,danceedm,204,7678,1606,168101,1696
...,...,...,...,...,...,...,...
6265,Massive New Krew,danceedm,6,367,36,7308,2030
54887,Big Beat Records,electronic,3,168,17,738016,3331
76821,PNCS INC,latin,0,23,0,17784,421
860,moogmusicinc,electronic,1,2,0,11237,3063
15795,YtMatch.com,pop,0,31,0,553,410

In [119]:
import numpy as np
import warnings
warnings.filterwarnings('ignore')
num_cols=[col for col in X_train.columns if X_train[col].dtype=='int64' or X_train[col].dtype=='float64']
cat_cols=[col for col in X_train.columns if X_train[col].dtypes=='object']
scale=MinMaxScaler()
for col in num_cols:
    X_train[col]=scale.fit_transform(np.array(X_train[col]).reshape(-1,1))
    X_test[col]=scale.transform(np.array(X_test[col]).reshape(-1,1))

In [120]:
from sklearn.preprocessing import LabelEncoder
import numpy as np


class LabelEncoderExt(object):
    def __init__(self):
        """
        It differs from LabelEncoder by handling new classes and providing a value for it [Unknown]
        Unknown will be added in fit and transform will take care of new item. It gives unknown class id
        """
        self.label_encoder = LabelEncoder()
        # self.classes_ = self.label_encoder.classes_

    def fit(self, data_list):
        """
        This will fit the encoder for all the unique values and introduce unknown value
        :param data_list: A list of string
        :return: self
        """
        self.label_encoder = self.label_encoder.fit(list(data_list) + ['Unknown'])
        self.classes_ = self.label_encoder.classes_

        return self

    def transform(self, data_list):
        """
        This will transform the data_list to id list where the new values get assigned to Unknown class
        :param data_list:
        :return:
        """
        new_data_list = list(data_list)
        for unique_item in np.unique(data_list):
            if unique_item not in self.label_encoder.classes_:
                new_data_list = ['Unknown' if x==unique_item else x for x in new_data_list]

        return self.label_encoder.transform(new_data_list)

In [121]:
label=LabelEncoderExt()
for col in cat_cols:
    label.fit(X_train[col])
    X_train[col]=label.transform(X_train[col]).astype('object')
    X_test[col]=label.transform(X_test[col]).astype('object')

In [122]:
X_train

       Name Genre  Comments     Likes  Popularity  Followers  diff_days
43990   199    15  0.000058  0.003900    0.001000   0.000621   0.009018
73187   355    18  0.000019  0.161916    0.004700   0.040213   0.023078
55361   624    11  0.000894  0.319232    0.051205   0.007236   0.032748
18097   615     6  0.000067  0.057906    0.011001   0.008337   0.043545
61163   714     6  0.001960  0.767877    0.160616   0.017172   0.078429
...     ...   ...       ...       ...         ...        ...        ...
6265    613     6  0.000058  0.036704    0.003600   0.000746   0.098244
54887   102    11  0.000029  0.016802    0.001700   0.075391   0.175427
76821   723    15  0.000000  0.002300    0.000000   0.001817   0.002788
860    1133    11  0.000010  0.000200    0.000000   0.001148   0.159528
15795  1039    17  0.000000  0.003100    0.000000   0.000056   0.002136

[52566 rows x 7 columns]

In [123]:
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

from sklearn.metrics import confusion_matrix,accuracy_score,precision_score,recall_score,roc_auc_score,roc_curve

regression=LinearRegression()

regression.fit(X_train,y_train)

y_dt_pred=regression.predict(X_test)

df_1=pd.DataFrame({'Test':y_test,'Pred':y_dt_pred})
df_1

         Test          Pred
76536    9644  1.021937e+06
27184  128615  3.845907e+05
44142    1219  5.720264e+04
32379  334414 -2.180926e+05
60009    9271  3.200096e+05
...       ...           ...
73798   13972  1.724055e+05
76786   11587  7.166240e+05
35324   21914  4.532199e+05
73515     577  5.204758e+04
46618   58418 -1.706524e+05

[25891 rows x 2 columns]

In [124]:
from sklearn.tree import  DecisionTreeRegressor
tree=DecisionTreeRegressor()
tree.fit(X_train,y_train)
d=tree.predict(X_test)
from sklearn import metrics
from sklearn.metrics import r2_score

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, d))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, d))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, d)))
r2 = r2_score(y_test,d)
print('r2:',r2)

Mean Absolute Error: 188229.66761080554
Mean Squared Error: 5557593430504.072
Root Mean Squared Error: 2357454.8628773517
r2: 0.6091642583648581

In [125]:
df_2=pd.DataFrame({'Test':y_test,'Pred':d})
df_2

         Test      Pred
76536    9644   32118.0
27184  128615   99958.0
44142    1219    1562.0
32379  334414  272912.0
60009    9271    6043.0
...       ...       ...
73798   13972   12379.0
76786   11587   11324.0
35324   21914   28100.0
73515     577     951.0
46618   58418  129920.0

[25891 rows x 2 columns]

In [127]:
from sklearn.ensemble import RandomForestRegressor
random=RandomForestRegressor(n_estimators=400)
random.fit(X_train,y_train)
random_predict=random.predict(X_test)

In [131]:
df_2=pd.DataFrame({'Test':y_test,'Pred':random_predict})
df_2
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, random_predict))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, random_predict))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, random_predict)))

r2 = r2_score(y_test,random_predict)
print('r2:',r2)

Mean Absolute Error: 142767.61922456737
Mean Squared Error: 2931347601399.415
Root Mean Squared Error: 1712117.8701828374
r2: 0.793854043461502

In [135]:
print('train score:---',random.score(X_train,y_train))
print('test score:---',random.score(X_test,y_test))

train score:--- 0.9793557023763882
test score:--- 0.793854043461502

In [138]:
from sklearn.ensemble import AdaBoostRegressor
ada=AdaBoostRegressor()
ada.fit(X_train,y_train)
ada_predict=ada.predict(X_test)

In [140]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, ada_predict))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, ada_predict))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, ada_predict)))

r2 = r2_score(y_test,ada_predict)
print('r2:',r2)
print('train score:---',ada.score(X_train,y_train))
print('test score:---',ada.score(X_test,y_test))

Mean Absolute Error: 691174.4208702315
Mean Squared Error: 6744987278636.3125
Root Mean Squared Error: 2597111.3335081176
r2: 0.5256612167964363
train score:--- 0.7070707327967136
test score:--- 0.5256612167964363

In [144]:
from sklearn.ensemble import GradientBoostingRegressor
gradient=GradientBoostingRegressor()
gradient.fit(X_train,y_train)
gradient_predict=gradient.predict(X_test)

In [146]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, gradient_predict))
print('Mean Squared Error:', metrics.mean_squared_error(y_test,gradient_predict))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test,gradient_predict)))

r2 = r2_score(y_test,gradient_predict)
print('r2:',r2)
print('train score:---',gradient.score(X_train,y_train))
print('test score:---',gradient.score(X_test,y_test))

Mean Absolute Error: 337064.5687896431
Mean Squared Error: 4111569901906.3774
Root Mean Squared Error: 2027700.6440563106
r2: 0.7108553383778999
train score:--- 0.8937018204054274
test score:--- 0.7108553383778999